@model ShivikaWebApp.Models.FormsField

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormsField</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeightOfSample)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightOfSample)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VechleNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VechleNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormsHeader.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormsHeader.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeofAggregator.TypeofAggregate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeofAggregator.TypeofAggregate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
